Repository uxlfoundation/oneTBB, pull requests merged in 2021-09, with the labels that each got.

#554 Add PR template
  .github/pull_request_template.md
Labels: infrastructure

#567 Disable RTM based tests under TSAN
  test/conformance/conformance_mutex.cpp
  test/tbb/test_mutex.cpp
Labels: tests

#569 Workaround gcc bug in test_limiter_node
  test/tbb/test_limiter_node.cpp
Labels: bug fix

#571 Remove old tms configurations
  doc/main/_static/custom.js
Labels: documentation

#525 DOC: Migration guide chapter for Scheduler Bypass
  doc/main/tbb_userguide/Migration_Guide/Task_API.rst
Labels: documentation

#564 [DOC]: Update Get Started Guide
  doc/GSG/index.rst
Labels: documentation

#575 [DOC]: Update Get Started Guide
  doc/GSG/index.rst
Labels: documentation

#537 DOC: Migration guide: Deferred task creation
  doc/main/tbb_userguide/Migration_Guide/Task_API.rst
Labels: documentation

#578 Update index.rst
  doc/GSG/index.rst
Labels: documentation

#589 Fix test_tbb_header compiling on Windows with IntelLLVM
  include/oneapi/tbb/collaborative_call_once.h
Labels: bug fix

#591 Fixed possible buffer overrun in dynamic_link
  src/tbb/dynamic_link.cpp
Labels: bug fix
