Repository uxlfoundation/oneTBB, pull requests merged in 2021-12, with the labels that each got.

#676 Fix incorrect definition of assignment operator in containers
  include/oneapi/tbb/concurrent_map.h
  include/oneapi/tbb/concurrent_set.h
  include/oneapi/tbb/concurrent_unordered_map.h
  include/oneapi/tbb/concurrent_unordered_set.h
  test/common/initializer_list_support.h
Labels: bug fix

#656 Check the swappable requirement for the parallel_sort algorithm
  include/oneapi/tbb/detail/_range_common.h
  include/oneapi/tbb/parallel_sort.h
  test/common/concepts_common.h
  test/tbb/test_parallel_for_each.cpp
  test/tbb/test_parallel_sort.cpp
Labels: enhancement

#623 Catch exception in lightweight node
  include/oneapi/tbb/detail/_flow_graph_node_impl.h
  include/oneapi/tbb/flow_graph.h
  test/common/graph_utils.h
  test/tbb/test_flow_graph_priorities.cpp
Labels: bug fix

#683 Restructuring the docs
  .github/workflows/ci.yml
  doc/GSG/before_beginning_and_example.rst
  doc/GSG/conf.py
  doc/GSG/get_started.rst
  doc/GSG/index.rst
  doc/GSG/intro_gsg.rst
  doc/GSG/system_requirements.rst
  doc/_static/custom.js
  doc/_static/favicons.png
  doc/_static/oneAPI-rgb-rev-100.png
  doc/_static/theme_overrides.css
  doc/conf.py
  doc/index.rst
  doc/index/index_intro.rst
  doc/index/toctree.rst
  doc/index/useful_topics.rst
  doc/main/_static/custom.js
  doc/main/_static/favicons.png
  doc/main/_static/oneAPI-rgb-rev-100.png
  doc/main/_static/theme_overrides.css
  doc/main/index.rst
  doc/main/intro/help_support.rst
  doc/main/intro/intro_os.rst
  doc/main/intro/introducing_main_os.rst
  doc/main/intro/notices_and_disclaimers.rst
  doc/main/tbb_userguide/Bandwidth_and_Cache_Affinity_os.rst
  doc/main/tbb_userguide/Controlling_Chunking_os.rst
  doc/main/tbb_userguide/Parallelizing_Simple_Loops_os.rst
  doc/main/tbb_userguide/Parallelizing_Simple_Loops_toctree.rst
  doc/main/tbb_userguide/parallel_for_os.rst
  doc/main/tbb_userguide/parallel_for_toctree.rst
  doc/main/tbb_userguide/title.rst
Labels: documentation

#647 Fix limiter_node decrementer
  include/oneapi/tbb/flow_graph.h
  test/tbb/test_limiter_node.cpp
Labels: bug fix

#684 Musl/linux can not use RTLD_DEEPBIND
  src/tbb/dynamic_link.cpp
Labels: bug fix

#674 Update README.md
  README.md
Labels: documentation

#668 Moving task_group_exptensions out of the preview
  include/oneapi/tbb/detail/_exception.h
  include/oneapi/tbb/detail/_task_handle.h
  include/oneapi/tbb/task_arena.h
  include/oneapi/tbb/task_group.h
  src/tbb/exception.cpp
  test/CMakeLists.txt
  test/conformance/conformance_task_arena.cpp
  test/conformance/conformance_task_group.cpp
  test/conformance/conformance_task_group_context.cpp
  test/tbb/test_task_arena.cpp
  test/tbb/test_task_group.cpp
Labels: enhancement

#328 Optimize x86 atomic_fence
  include/oneapi/tbb/detail/_machine.h
  src/tbb/arena.h
  src/tbb/concurrent_monitor.h
Labels: enhancement

#566 task_scheduler_handle productization
  doc/main/reference/blocking_terminate.rst
  doc/main/reference/reference.rst
  doc/main/tbb_userguide/Migration_Guide/Task_Scheduler_Init.rst
  include/oneapi/tbb/detail/_attach.h
  include/oneapi/tbb/detail/_config.h
  include/oneapi/tbb/detail/_exception.h
  include/oneapi/tbb/global_control.h
  include/oneapi/tbb/task_arena.h
  src/tbb/exception.cpp
  src/tbb/global_control.cpp
  src/tbb/governor.cpp
  src/tbb/market.cpp
  src/tbb/market.h
  test/common/dummy_body.h
  test/conformance/conformance_global_control.cpp
  test/tbb/test_concurrent_monitor.cpp
  test/tbb/test_global_control.cpp
  test/tbb/test_limiter_node.cpp
  test/tbb/test_scheduler_mix.cpp
  test/tbb/test_tbb_fork.cpp
Labels: new feature, documentation, tests
