Repository uxlfoundation/oneTBB, pull requests merged in 2021-11, with the labels that each got.

#613 Fix build on FreeBSD
  test/common/utils_concurrency_limit.h
Labels: bug fix

#586 CMake: add option TBBMALLOC_PROXY_BUILD
  CMakeLists.txt
  cmake/README.md
  test/CMakeLists.txt
Labels: enhancement

#657 Remove several redundant steps inside the parallel_sort algorithm
  include/oneapi/tbb/parallel_sort.h
Labels: bug fix

#655 Update index.rst
  doc/main/index.rst
Labels: documentation

#652 Update conf.py
  doc/GSG/_static/custom.js
  doc/GSG/_static/favicons.png
  doc/GSG/_static/oneAPI-rgb-rev-100.png
  doc/GSG/_static/theme_overrides.css
  doc/GSG/conf.py
Labels: documentation

#563 task_group extensions: documentation for task_group::run_and_wait(task_handle&&) method
  doc/main/reference/task_group_extensions.rst
Labels: documentation

#658 Disable the TBBbind target during the static library build
  CMakeLists.txt
  test/CMakeLists.txt
Labels: bug fix

#660 New docs and update README.md
  README.md
  RELEASE_NOTES.md
  SYSTEM_REQUIREMENTS.md
Labels: documentation

#661 CMake: fix warning 'LNK4044: unrecognized option /openmp'
  cmake/compilers/MSVC.cmake
Labels: infrastructure

#630 Installation Guide
  INSTALL.md
  cmake/README.md
Labels: documentation

#663 Update README.md
  README.md
Labels: documentation

#664 Update conf.py
  doc/GSG/conf.py
  doc/main/conf.py
Labels: documentation

#670 Update RELEASE_NOTES.md
  RELEASE_NOTES.md
Labels: documentation

#662 collaborative_call_once: alignment with Spec 1.1
  include/oneapi/tbb.h
  include/oneapi/tbb/collaborative_call_once.h
  include/oneapi/tbb/detail/_config.h
  test/CMakeLists.txt
  test/common/config.h
  test/conformance/conformance_collaborative_call_once.cpp
  test/tbb/test_collaborative_call_once.cpp
  test/tbb/test_tbb_header.cpp
Labels: new feature, tests
