Repository uxlfoundation/oneTBB, pull requests merged in 2022-01, with the labels that each got.

#722 Update the name of the link to the CMake readme
  README.md
Labels: enhancement

#699 Fixed deadlock in the task_group conforance tests
  test/conformance/conformance_task_group.cpp
Labels: bug fix, tests

#725 Improve task arena test coverage
  test/conformance/conformance_task_arena.cpp
  test/tbb/test_task_arena.cpp
Labels: tests

#704 Fix overflow in concurrent_hash_map
  include/oneapi/tbb/concurrent_hash_map.h
  test/conformance/conformance_concurrent_hash_map.cpp
Labels: bug fix

#731 Missed part of task_group_exptensions unpreview
  include/oneapi/tbb/task_arena.h
Labels: bug fix

#732 Rectifing testing of some preview features controlled by __TBB_CPF_BUILD
  test/tbb/test_scheduler_mix.cpp
  test/tbb/test_task_group.cpp
Labels: tests

#726 making `task_group_context::is_proxy` race free
  include/oneapi/tbb/task_group.h
  src/tbb/task_dispatcher.h
  src/tbb/task_group_context.cpp
Labels: bug fix

#734 Update RELEASE_NOTES.md
  RELEASE_NOTES.md
Labels: documentation

#737 Update conf.py
  doc/conf.py
Labels: documentation

#736 INSTALL.md: add example for multi-config generators
  INSTALL.md
Labels: documentation

#735 Fix incorrect resize behavior with first_block
  include/oneapi/tbb/concurrent_vector.h
  include/oneapi/tbb/detail/_concurrent_unordered_base.h
  include/oneapi/tbb/detail/_segment_table.h
  test/tbb/test_concurrent_vector.cpp
Labels: bug fix

#744 Fix race in `conformance_task_arena`
  test/common/utils_concurrency_limit.h
  test/conformance/conformance_task_arena.cpp
  test/tbb/test_task.cpp
  test/tbb/test_task_arena.cpp
Labels: bug fix, tests

#751 Update pull_request_template.md
  .github/pull_request_template.md
Labels: documentation

#752 Improve code readability in private_worker
  src/tbb/private_server.cpp
Labels: enhancement

#739 Fix incorrect synchronization in private server
  src/tbb/private_server.cpp
Labels: bug fix

#746 Add Bazel build support for macOS
  .bazelversion
  BUILD.bazel
Labels: infrastructure
