Repository uxlfoundation/oneTBB, pull requests merged in 2022-09, with the labels that each got.

#874 Fix an analytics script
  doc/main/_templates/layout.html
Labels: documentation

#914 Testing approach doc
  README.md
  doc/index/toctree.rst
  doc/main/intro/testing_approach.rst
Labels: documentation

#913 Fix tbb4py test sporadic fails
  python/tbb/test.py
Labels: bug fix, tests

#919 Fix universal binary build on macos.
  cmake/compilers/AppleClang.cmake
Labels: bug fix, infrastructure
