Repository uxlfoundation/oneTBB, pull requests merged in 2022-02, with the labels that each got.

#729 CMake: fix ANDROID_STL handling (issue #710)
  CMakeLists.txt
Labels: bug fix

#748 Check if getcontext() exists to enable resumable tasks
  include/oneapi/tbb/detail/_config.h
Labels: bug fix

#765 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#764 mallinfo is only defined on glibc and android
  src/tbbmalloc_proxy/proxy.cpp
Labels: bug fix

#755 Documentation update for unpreview `task_handle` and related stuff
  doc/main/reference/reference.rst
  doc/main/reference/task_arena_extensions.rst
  doc/main/reference/task_group_extensions.rst
  doc/main/reference/task_group_extensions/task_handle.rst
  doc/main/reference/this_task_arena_extensions.rst
  doc/main/tbb_userguide/Migration_Guide/Task_API.rst
Labels: documentation

#754 Simplify private worker synchronization mechanism
  python/rml/ipc_server.cpp
  src/tbb/private_server.cpp
  src/tbb/rml_thread_monitor.h
Labels: enhancement, bug fix

#759 Fix incorrect access to concurrent_hash_map from transparent insertion
  include/oneapi/tbb/concurrent_hash_map.h
  test/tbb/test_concurrent_hash_map.cpp
Labels: bug fix

#774 Update conf.py
  doc/conf.py
Labels: documentation

#727 Call suspend func on same thread
  src/tbb/arena.h
  src/tbb/scheduler_common.h
  src/tbb/task.cpp
  src/tbb/task_dispatcher.cpp
  src/tbb/task_dispatcher.h
  src/tbb/task_group_context.cpp
  src/tbb/thread_data.h
  test/tbb/test_resumable_tasks.cpp
  test/tbb/test_task.cpp
Labels: enhancement

#781 Rework incorrect assert in try_destroy_arena
  src/tbb/market.cpp
  src/tbb/market.h
Labels: bug fix

#789 Fix test_collaborative_call_once SIGABRT on armhf/armel
  test/tbb/test_collaborative_call_once.cpp
Labels: bug fix, tests

#728 Actualize documentation about proportional splitting constructor in Range
  doc/main/tbb_userguide/Advanced_Topic_Other_Kinds_of_Iteration_Spaces.rst
  test/tbb/test_partitioner.h
Labels: documentation
