Repository uxlfoundation/oneTBB, pull requests merged in 2023-07, with the labels that each got.

#1144 Fix test_task_group compilation on GCC 12
  test/tbb/test_task_group.cpp
Labels: bug fix, tests

#1146 Update Release Notes for oneTBB 2021.10
  RELEASE_NOTES.md
Labels: documentation

#1150 Remove unsupported -z switch while compiling on MacOS
  cmake/compilers/Clang.cmake
  cmake/compilers/GNU.cmake
Labels: bug fix, infrastructure
