Repository uxlfoundation/oneTBB, pull requests merged in 2023-06, with the labels that each got.

#1120 Use CMAKE_DL_LIBS to properly choose to use libdl or not.
  cmake/compilers/GNU.cmake
Labels: infrastructure

#1123 Compile resumable tasks with ucontext even if it is deprecated
  cmake/resumable_tasks.cmake
Labels: bug fix

#1072 Fix filenames strip for tbb4py installation on newer versions of setuptools
  python/CMakeLists.txt
Labels: infrastructure

#1124 Minor fixes for KW in tbbmalloc
  src/tbbmalloc/backend.cpp
  src/tbbmalloc/frontend.cpp
Labels: bug fix, allocator

#1128 Fix current_thread_index for masterless arena(1,0)
  src/tbb/arena.cpp
  src/tbb/arena.h
  test/tbb/test_task_arena.cpp
Labels: bug fix

#1131 Fix task_task_arena for one thread environment
  test/tbb/test_task_arena.cpp
Labels: bug fix

#1117 fix deadlock in tbbmalloc raportFreeBlocks function
  src/tbbmalloc/backend.cpp
Labels: allocator

#758 Big market refactoring
  include/oneapi/tbb/detail/_template_helpers.h
  include/oneapi/tbb/detail/_utils.h
  include/oneapi/tbb/mutex.h
  include/oneapi/tbb/task_arena.h
  include/oneapi/tbb/task_group.h
  src/tbb/CMakeLists.txt
  src/tbb/arena.cpp
  src/tbb/arena.h
  src/tbb/arena_slot.h
  src/tbb/cancellation_disseminator.h
  src/tbb/global_control.cpp
  src/tbb/governor.cpp
  src/tbb/governor.h
  src/tbb/main.cpp
  src/tbb/market.cpp
  src/tbb/market.h
  src/tbb/permit_manager.h
  src/tbb/pm_client.h
  src/tbb/scheduler_common.h
  src/tbb/task.cpp
  src/tbb/task_dispatcher.h
  src/tbb/task_group_context.cpp
  src/tbb/thread_control_monitor.h
  src/tbb/thread_data.h
  src/tbb/thread_dispatcher.cpp
  src/tbb/thread_dispatcher.h
  src/tbb/thread_dispatcher_client.h
  src/tbb/thread_request_serializer.cpp
  src/tbb/thread_request_serializer.h
  src/tbb/threading_control.cpp
  src/tbb/threading_control.h
  src/tbb/threading_control_client.h
  src/tbb/waiters.h
  test/common/concurrency_tracker.h
  test/common/cpu_usertime.h
  test/conformance/conformance_flowgraph.h
  test/conformance/conformance_global_control.cpp
  test/tbb/test_arena_priorities.cpp
  test/tbb/test_eh_algorithms.cpp
  test/tbb/test_global_control.cpp
  test/tbb/test_task.cpp
  test/tbb/test_task_arena.cpp
  test/tbb/test_task_group.cpp
Labels: enhancement

#1129 Update outdated URLs in comments
  examples/getting_started/README.md
  examples/getting_started/sub_string_finder/README.md
  python/README.md
  python/setup.py
  src/tbb/tools_api/ittnotify.h
  test/tbb/test_eh_flow_graph.cpp
  test/tbb/test_limiter_node.cpp
Labels: documentation

#1135 Update next_steps.rst with Hybrid CPU and NUMA Support
  doc/GSG/next_steps.rst
Labels: documentation

#1104 Add new Fibonacci example built on Task API emulation
  examples/CMakeLists.txt
  examples/migration/README.md
  examples/migration/recursive_fibonacci/CMakeLists.txt
  examples/migration/recursive_fibonacci/README.md
  examples/migration/recursive_fibonacci/fibonacci.cpp
  examples/migration/recursive_fibonacci/task_emulation_layer.h
Labels: enhancement

#1112 Documentation for std::invoke
  doc/main/tbb_userguide/std_invoke.rst
  doc/main/tbb_userguide/title.rst
Labels: documentation

#1141 Fix test_concurrent_queue failure with ICL19.0/VS2017
  test/tbb/test_concurrent_queue.cpp
Labels: tests
