Repository uxlfoundation/oneTBB, pull requests merged in 2023-10, with the labels that each got.

#1221 Add Pi sample
  examples/CMakeLists.txt
  examples/README.md
  examples/parallel_reduce/README.md
  examples/parallel_reduce/pi/CMakeLists.txt
  examples/parallel_reduce/pi/README.md
  examples/parallel_reduce/pi/common.h
  examples/parallel_reduce/pi/main.cpp
  examples/parallel_reduce/pi/pi.cpp
Labels: documentation

#1234 update the documentation runs-on config
  .github/workflows/ci.yml
Labels: infrastructure

#1239 Update INSTALL.md
  INSTALL.md
Labels: documentation

#1241 Change location of headers and lib files in NuGet packages
  integration/windows/nuget/inteltbb.devel.win.targets
Labels: bug fix
