Repository uxlfoundation/oneTBB, pull requests merged in 2023-08, with the labels that each got.

#1153 Add mutex.h and rw_mutex.h to oneapi/tbb.h
  include/oneapi/tbb.h
  test/tbb/test_tbb_header.cpp
Labels: bug fix, tests

#1132 Allow building and loading of TBBBind on macOS
  CMakeLists.txt
  include/oneapi/tbb/detail/_config.h
  src/tbb/arena.cpp
  src/tbb/arena.h
  src/tbb/governor.cpp
  src/tbbbind/def/mac64-tbbbind.def
  src/tbbbind/tbb_bind.cpp
  test/common/common_arena_constraints.h
  test/tbb/test_arena_constraints.cpp
Labels: enhancement, infrastructure

#1158 Add shortcut for mutex.h and rw_mutex
  include/tbb/mutex.h
  include/tbb/rw_mutex.h
Labels: bug fix

#1156 Update CMake README.md
  cmake/README.md
Labels: documentation

#1122 Add additional synchronization around [soft/hard]CachesCleanup function
  src/tbbmalloc/backend.cpp
  src/tbbmalloc/backend.h
  src/tbbmalloc/frontend.cpp
  src/tbbmalloc/large_objects.cpp
  src/tbbmalloc/tbbmalloc_internal.h
Labels: allocator

#1165 Verify size in alignToBin()
  src/tbbmalloc/large_objects.h
Labels: allocator

#1171 Close File before leave function
  src/tbb/misc_ex.cpp
Labels: bug fix

#1164 Assert if a shift amount is negative
  src/tbbmalloc/large_objects.h
Labels: allocator

#1168 Initialize uninitialized scalar field currCacheIdx
  src/tbbmalloc/frontend.cpp
Labels: allocator

#1169 Make lastAccessMiss a local variable
  src/tbbmalloc/frontend.cpp
Labels: allocator

#1170 Initialize uninitialized scalar field currTime
  src/tbbmalloc/large_objects.cpp
Labels: allocator

#1157 Support multiple layout variations in Linux/Windows vars scripts, refactor modulefiles
  integration/linux/env/vars.sh
  integration/linux/modulefiles/tbb
  integration/linux/modulefiles/tbb32
  integration/linux/oneapi/vars.sh
  integration/windows/env/vars.bat
  integration/windows/oneapi/vars.bat
Labels: enhancement, infrastructure

#1163 Integration of Thread composability manager
  doc/GSG/next_steps.rst
  include/oneapi/tbb/version.h
  src/tbb/CMakeLists.txt
  src/tbb/arena.cpp
  src/tbb/arena.h
  src/tbb/main.cpp
  src/tbb/market.cpp
  src/tbb/market.h
  src/tbb/permit_manager.h
  src/tbb/pm_client.h
  src/tbb/tcm.h
  src/tbb/tcm_adaptor.cpp
  src/tbb/tcm_adaptor.h
  src/tbb/threading_control.cpp
  src/tbb/threading_control.h
Labels: enhancement

#1175 Fix rule zero three five
  src/tbbmalloc/Synchronize.h
  src/tbbmalloc/frontend.cpp
  src/tbbmalloc/tbbmalloc.cpp
  src/tbbmalloc/tbbmalloc_internal.h
Labels: allocator

#1179 Spelling correction
  doc/main/tbb_userguide/Working_on_the_Assembly_Line_pipeline.rst
  examples/migration/recursive_fibonacci/fibonacci.cpp
  examples/parallel_for/tachyon/src/imageio.cpp
  examples/parallel_for/tachyon/src/imageio.hpp
  examples/parallel_for/tachyon/src/jpeg.cpp
  examples/parallel_for/tachyon/src/ppm.cpp
  examples/parallel_for/tachyon/src/ppm.hpp
  include/oneapi/tbb/concurrent_queue.h
  include/oneapi/tbb/parallel_invoke.h
  include/oneapi/tbb/partitioner.h
  src/tbb/tools_api/ittnotify.h
  src/tbbbind/tbb_bind.cpp
  src/tbbmalloc/backend.cpp
  src/tbbmalloc/large_objects.h
  src/tbbmalloc/tbbmalloc_internal.h
  test/common/concurrent_associative_common.h
  test/conformance/conformance_concurrent_hash_map.cpp
  test/conformance/conformance_concurrent_queue.cpp
  test/conformance/conformance_concurrent_vector.cpp
  test/tbb/test_async_node.cpp
  test/tbb/test_broadcast_node.cpp
  test/tbb/test_buffer_node.cpp
  test/tbb/test_concurrent_hash_map.cpp
  test/tbb/test_continue_node.cpp
  test/tbb/test_global_control.cpp
  test/tbb/test_join_node_preview.cpp
  test/tbb/test_task_arena.cpp
  test/tbbmalloc/test_malloc_whitebox.cpp
Labels: allocator

#1173 Extend migration example
  examples/migration/recursive_fibonacci/fibonacci.cpp
  examples/migration/recursive_fibonacci/fibonacci_single_task.h
  examples/migration/recursive_fibonacci/fibonacci_two_tasks.h
  examples/migration/recursive_fibonacci/task_emulation_layer.h
Labels: tests

#1185 Apply fix to get fully qualified name if a modulefile is a symlink
  integration/linux/modulefiles/tbb
  integration/linux/modulefiles/tbb32
Labels: bug fix

#1188 Fix thread request on arena::update_concurrency
  src/tbb/arena.cpp
Labels: bug fix

#1184 Add fuzz testing
  CMakeLists.txt
  test/CMakeLists.txt
  test/tbb/test_fuzzing.cpp
Labels: tests

#1190 Add tag to brief description
  test/tbb/test_fuzzing.cpp
Labels: tests
