Repository uxlfoundation/oneTBB, pull requests merged in 2023-05, with the labels that each got.

#1025 doc: WASM support topic
  README.md
  WASM_Support.md
Labels: documentation

#1090 Update SYSTEM_REQUIREMENTS.md
  SYSTEM_REQUIREMENTS.md
Labels: documentation

#1084 Update task_group_extensions.rst
  doc/main/reference/task_group_extensions.rst
Labels: documentation

#1095 Add DLL info for all tbbbind versions instead of just the default
  src/tbb/tbb.rc
  src/tbbbind/CMakeLists.txt
  src/tbbbind/tbb_bind.rc
  src/tbbmalloc/tbbmalloc.rc
  src/tbbmalloc_proxy/tbbmalloc_proxy.rc
Labels: allocator

#1098 Update SYSTEM_REQUIREMENTS.md
  SYSTEM_REQUIREMENTS.md
Labels: documentation

#1100 CMAKE: allow to override CMAKE_POSITION_INDEPENDENT_CODE
  CMakeLists.txt
Labels: infrastructure

#1111 Update ci.yml
  .github/workflows/ci.yml
Labels: documentation, infrastructure

#1070 Add issue and PR labeler based on description
  .github/issue_labeler.yml
  .github/workflows/issue_labeler.yml
Labels: enhancement, infrastructure
