Repository uxlfoundation/oneTBB, pull requests merged in 2023-11, with the labels that each got.

#1237 CMake: Bump required version
  CMakeLists.txt
  examples/CMakeLists.txt
  examples/common/gui/CMakeLists.txt
  examples/concurrent_hash_map/count_strings/CMakeLists.txt
  examples/concurrent_priority_queue/shortpath/CMakeLists.txt
  examples/getting_started/sub_string_finder/CMakeLists.txt
  examples/graph/binpack/CMakeLists.txt
  examples/graph/cholesky/CMakeLists.txt
  examples/graph/dining_philosophers/CMakeLists.txt
  examples/graph/fgbzip2/CMakeLists.txt
  examples/graph/logic_sim/CMakeLists.txt
  examples/graph/som/CMakeLists.txt
  examples/migration/recursive_fibonacci/CMakeLists.txt
  examples/parallel_for/game_of_life/CMakeLists.txt
  examples/parallel_for/polygon_overlay/CMakeLists.txt
  examples/parallel_for/seismic/CMakeLists.txt
  examples/parallel_for/tachyon/CMakeLists.txt
  examples/parallel_for_each/parallel_preorder/CMakeLists.txt
  examples/parallel_pipeline/square/CMakeLists.txt
  examples/parallel_reduce/convex_hull/CMakeLists.txt
  examples/parallel_reduce/pi/CMakeLists.txt
  examples/parallel_reduce/primes/CMakeLists.txt
  examples/task_arena/fractal/CMakeLists.txt
  examples/task_group/sudoku/CMakeLists.txt
  examples/test_all/fibonacci/CMakeLists.txt
  test/CMakeLists.txt
Labels: infrastructure

#800 CMake: add option TBB_INSTALL
  CMakeLists.txt
  cmake/README.md
  cmake/utils.cmake
  src/tbb/CMakeLists.txt
Labels: infrastructure

#1245 Support Windows on ARM64 (aarch64) when building with MinGW-w64
  src/tbbmalloc/TypeDefinitions.h
Labels: allocator

#1246 Fix tests compilation on OpenBSD
  test/tbb/test_eh_thread.cpp
  test/tbbmalloc/test_malloc_compliance.cpp
Labels: bug fix, allocator

#1227 Update Mixing_Two_Runtimes.rst
  doc/main/tbb_userguide/Migration_Guide/Mixing_Two_Runtimes.rst
Labels: documentation

#1248 Fix CMake "Threads::Threads target not found" issue for static builds
  CMakeLists.txt
Labels: infrastructure

#1250 Fix parallel_for_each with C++20 iterators
  include/oneapi/tbb/parallel_for_each.h
  test/tbb/test_parallel_for_each.cpp
Labels: bug fix

#1267 Update RELEASE_NOTES.md for 2021.11
  RELEASE_NOTES.md
Labels: documentation

#1207 Update WASM documentation
  WASM_Support.md
Labels: documentation

#1272 Update conf.py
  doc/conf.py
Labels: documentation
