Repository uxlfoundation/oneTBB, pull requests merged in 2023-04, with the labels that each got.

#1058 Set TBB_DISABLE_HWLOC_AUTOMATIC_SEARCH to ON on MacOS
  CMakeLists.txt
Labels: bug fix, infrastructure

#1067 Doc fix
  doc/main/reference/info_namespace.rst
  doc/main/reference/reference.rst
Labels: documentation

#1064 Add GitHub Action for labeling PRs
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: enhancement, infrastructure

#1078 Update conf.py
  doc/conf.py
Labels: documentation

#1082 Update conf.py
  doc/conf.py
Labels: documentation

#1036 Update Graph_Object.rst
  doc/main/tbb_userguide/Graph_Object.rst
Labels: documentation
