Repository uxlfoundation/oneTBB, pull requests merged in 2024-12, with the labels that each got.

#1577 Fix broken links after migration to uxlfoundation org.
  Bazel.md
  CONTRIBUTING.md
  INSTALL.md
  README.md
  RELEASE_NOTES.md
  SECURITY.md
  SUPPORT.md
  WASM_Support.md
  cmake/README.md
  doc/GSG/installation.rst
  doc/GSG/samples.rst
  doc/GSG/system_requirements.rst
  doc/README.md
  doc/conf.py
  doc/main/intro/help_support.rst
  doc/main/tbb_userguide/std_invoke.rst
  examples/README.md
  integration/pkg-config/tbb.pc.in
Labels: documentation

#1579 Clean-up docs on 2022 branch
  doc/GSG/_static/custom.js
  doc/GSG/_static/favicons.png
  doc/GSG/_static/oneAPI-rgb-rev-100.png
  doc/GSG/_static/theme_overrides.css
  doc/GSG/before_beginning_and_example.rst
  doc/GSG/conf.py
  doc/GSG/examples.rst
  doc/GSG/hybrid_cpu_support.rst
  doc/GSG/index.rst
  doc/GSG/integrate.rst
  doc/GSG/intro.rst
  doc/GSG/intro_gsg.rst
  doc/main/_static/custom.js
  doc/main/_static/favicons.png
  doc/main/_static/oneAPI-rgb-rev-100.png
  doc/main/_static/theme_overrides.css
  doc/main/conf.py
  doc/main/index.rst
  doc/main/intro/intro.rst
  doc/main/intro/introducing_main.rst
  doc/main/intro/notices_and_disclaimers.rst
  doc/main/tbb_userguide/Bandwidth_and_Cache_Affinity.rst
  doc/main/tbb_userguide/Controlling_Chunking.rst
  doc/main/tbb_userguide/Parallelizing_Simple_Loops.rst
  doc/main/tbb_userguide/automatically-replacing-malloc.rst
  doc/main/tbb_userguide/parallel_for.rst
Labels: documentation

#1580 Clean up docs on 2021 branch
  doc/GSG/before_beginning_and_example.rst
  doc/GSG/conf.py
  doc/GSG/examples.rst
  doc/GSG/hybrid_cpu_support.rst
  doc/GSG/index.rst
  doc/GSG/intro.rst
  doc/GSG/intro_gsg.rst
  doc/main/_static/custom.js
  doc/main/_static/favicons.png
  doc/main/_static/oneAPI-rgb-rev-100.png
  doc/main/_static/theme_overrides.css
  doc/main/intro/intro.rst
  doc/main/intro/introducing_main.rst
  doc/main/intro/notices_and_disclaimers.rst
  doc/main/tbb_userguide/Bandwidth_and_Cache_Affinity.rst
  doc/main/tbb_userguide/Controlling_Chunking.rst
  doc/main/tbb_userguide/Parallelizing_Simple_Loops.rst
  doc/main/tbb_userguide/parallel_for.rst
Labels: documentation

#1578 Replace deprecated macos-12 environment with macos-14 and macos-15
  .github/workflows/ci.yml
Labels: infrastructure

#1564 RFC to change dependency loading process
  rfcs/proposed/loading-dependencies/loading-dependencies-by-module-name.org
Labels: documentation

#1586 Add option to enable control flow guard during compilation
  CMakeLists.txt
  cmake/README.md
  cmake/compilers/MSVC.cmake
Labels: infrastructure

#1455 Add Coverity scan
  .github/workflows/coverity.yml
  README.md
Labels: infrastructure

#1587 Fallback to GetThreadGroupAffinity if GetNativeSystemInfo reports wrongly
  src/tbb/misc_ex.cpp
Labels: bug fix
