Repository uxlfoundation/oneTBB, pull requests merged in 2024-06, with the labels that each got.

#1387 Add UXL identity to README
  README.md
Labels: documentation

#1397 Fix concurrent unordered containers build on GCC14
  include/oneapi/tbb/detail/_concurrent_unordered_base.h
Labels: bug fix

#1409 Add OSSF scorecard and best practices badges to README
  README.md
Labels: documentation

#1410 Improve robustness of leaked observer warning
  src/tbb/governor.cpp
  src/tbb/main.cpp
  test/tbb/test_task.cpp
Labels: bug fix

#1395 WASM improvements
  WASM_Support.md
  cmake/compilers/Clang.cmake
  src/tbb/global_control.cpp
  src/tbb/governor.cpp
Labels: bug fix

#1418 Refactor set of soft_limit to fix a bug
  src/tbb/thread_request_serializer.cpp
  test/conformance/conformance_global_control.cpp
Labels: bug, bug fix

#1421 Fix conformance_global_control
  test/conformance/conformance_global_control.cpp
Labels: bug fix

#1424 Correct targets in examples' README.md
  examples/task_group/sudoku/README.md
  examples/test_all/fibonacci/README.md
Labels: documentation

#1430 Fix dangling pointer
  test/tbb/test_eh_flow_graph.cpp
  test/tbb/test_environment_whitebox.cpp
  test/tbb/test_join_node.h
Labels: bug fix
