Repository uxlfoundation/oneTBB, pull requests merged in 2024-10, with the labels that each got.

#1514 Add try_put_and_wait documentation
  doc/main/reference/reference.rst
  doc/main/reference/try_put_and_wait.rst
Labels: documentation

#1515 Doc update for oneTBB 2022.0
  doc/GSG/get_started.rst
  doc/GSG/intro.rst
  doc/index/toctree.rst
  doc/main/tbb_userguide/Exceptions_and_Cancellation.rst
  doc/main/tbb_userguide/Linux_OS.rst
  doc/main/tbb_userguide/Windows_C_Dynamic_Memory_Interface_Replacement.rst
  doc/main/tbb_userguide/Windows_OS_ug.rst
Labels: documentation

#1530 Fix constraints_variety set traverse, extend constraints test cases
  test/common/common_arena_constraints.h
Labels: bug fix, tests

#1534 Remove sync-labels property from issue_labeler
  .github/workflows/issue_labeler.yml
Labels: infrastructure

#1537 Release Notes for 2022.0
  RELEASE_NOTES.md
Labels: documentation

#1541 Update upload-artifact to v4
  .github/workflows/ci.yml
Labels: infrastructure
