Repository uxlfoundation/oneTBB, pull requests merged in 2024-04, with the labels that each got.

#1230 LoongArch64 use 32 HUGE_PAGE_SIZE
  src/tbbmalloc/tbbmalloc_internal.h
  test/tbbmalloc/test_malloc_whitebox.cpp
Labels: allocator

#1295 Fix a strict aliasing violation
  src/tbbmalloc/frontend.cpp
Labels: enhancement, allocator

#1340 fix copyright
  src/tbbmalloc/tbbmalloc_internal.h
  test/tbbmalloc/test_malloc_whitebox.cpp
Labels: allocator

#1338 Release Notes 2021.12
  RELEASE_NOTES.md
Labels: documentation

#1346 Fix control variable initialization
  src/tbb/global_control.cpp
  src/tbb/governor.cpp
Labels: bug fix

#1339 Correct `MyHashCompare` example in concurrent_hash_map page
  doc/main/tbb_userguide/concurrent_hash_map.rst
Labels: documentation

#1351 Update doc build instructions
  doc/Makefile
  doc/make.bat
Labels: documentation

#1357 Update TPP file
  third-party-programs.txt
Labels: documentation

#1319 cmake apple framework support
  CMakeLists.txt
  cmake/README.md
  cmake/utils.cmake
  cmake/vars_utils.cmake
  src/tbb/CMakeLists.txt
  src/tbbmalloc/CMakeLists.txt
  src/tbbmalloc_proxy/CMakeLists.txt
  test/CMakeLists.txt
  test/common/utils_dynamic_libs.h
Labels: enhancement, allocator

#1359 Update Security policy
  SECURITY.md
Labels: documentation

#1352 Add task arena worker block time
  src/tbb/arena.cpp
  src/tbb/arena.h
  src/tbb/governor.h
  src/tbb/misc.cpp
  src/tbb/misc.h
  src/tbb/thread_dispatcher.cpp
  src/tbb/thread_dispatcher.h
  src/tbb/thread_dispatcher_client.h
  src/tbb/thread_request_serializer.cpp
  src/tbb/thread_request_serializer.h
  src/tbb/threading_control.cpp
  src/tbb/threading_control.h
  src/tbb/waiters.h
Labels: bug fix

#1368 Improve machine_pause on arm64
  include/oneapi/tbb/detail/_machine.h
Labels: bug fix

#1367 Fix e-mail for Security reports
  SECURITY.md
Labels: documentation

#1151 Fix constraint arena construction
  src/tbb/arena.cpp
Labels: bug fix

#1327 bug fix to issue #1331
  include/oneapi/tbb/parallel_for.h
  include/oneapi/tbb/parallel_scan.h
Labels: enhancement
