Repository uxlfoundation/oneTBB, pull requests merged in 2024-03, with the labels that each got.

#1322 Update library version to 2021.13.0 and copyright year for DLLs.
  include/oneapi/tbb/version.h
  src/tbb/tbb.rc
  src/tbbbind/tbb_bind.rc
  src/tbbmalloc/tbbmalloc.rc
  src/tbbmalloc_proxy/tbbmalloc_proxy.rc
Labels: allocator

#1325 Setting write access for pages deployment job
  .github/workflows/ci.yml
Labels: bug fix, infrastructure

#1330 Exclude the CWD from the dependent DLL search
  cmake/compilers/MSVC.cmake
Labels: bug fix
