Repository uxlfoundation/oneTBB, pull requests merged in 2024-09, with the labels that each got.

#1490 Fix coverity issue in BitMaskMax
  src/tbbmalloc/tbbmalloc_internal.h
Labels: allocator

#1491 Fix coverity issue in block::initEmptyBlock
  src/tbbmalloc/frontend.cpp
Labels: allocator

#1506 Fix race on vertex destruction
  include/oneapi/tbb/detail/_task.h
Labels: bug fix

#1502 Fix rst-related doc issues
  doc/main/reference/rvalue_reduce.rst
Labels: documentation

#1509 Remove email from README
  README.md
Labels: documentation

#1114 Use gcc visibility attribute
  CMakeLists.txt
  include/oneapi/tbb/detail/_exception.h
  include/oneapi/tbb/detail/_export.h
  src/tbb/queuing_rw_mutex.cpp
  src/tbbbind/tbb_bind.cpp
  src/tbbmalloc/frontend.cpp
  src/tbbmalloc_proxy/proxy.cpp
  src/tbbmalloc_proxy/proxy.h
  test/tbb/test_dynamic_link.cpp
  test/tbb/test_tbb_header.cpp
  test/tbbmalloc/test_malloc_atexit.cpp
  test/tbbmalloc/test_malloc_lib_unload.cpp
  test/tbbmalloc/test_malloc_used_by_lib.cpp
Labels: bug fix, allocator

#1464 [RFCs] Add rfcs directory
  rfcs/README.md
  rfcs/archived/README.md
  rfcs/experimental/README.md
  rfcs/proposed/README.md
  rfcs/supported/README.md
  rfcs/template.md
Labels: documentation
