Repository uxlfoundation/oneTBB, pull requests merged in 2024-11, with the labels that each got.

#1543 Fix flow_graph tests build when compiling with GCC 13.3
  include/oneapi/tbb/detail/_flow_graph_impl.h
  include/oneapi/tbb/flow_graph.h
Labels: bug fix

#1532 Fix race in `concurrent_vector::grow_by()`
  include/oneapi/tbb/concurrent_vector.h
  include/oneapi/tbb/detail/_segment_table.h
  test/tbb/test_concurrent_vector.cpp
Labels: bug fix, tests

#1546 Add dependabot.yml to enable automatic check for GitHub actions version update
  .github/dependabot.yml
Labels: infrastructure

#1569 Extend the documentation with more information about multidimensional ranges
  doc/main/tbb_userguide/Advanced_Topic_Other_Kinds_of_Iteration_Spaces.rst
  doc/main/tbb_userguide/parallel_for_os.rst
  doc/main/tbb_userguide/snippets/blocked_nd_range_example.cpp
  doc/main/tbb_userguide/snippets/blocked_nd_range_example.h
Labels: documentation
