Repository uxlfoundation/oneTBB, pull requests merged in 2024-08, with the labels that each got.

#1398 [try_put_and_wait] Part 1: Add implementation of try_put_and_wait feature for function_node
  .github/workflows/ci.yml
  include/oneapi/tbb/detail/_config.h
  include/oneapi/tbb/detail/_flow_graph_body_impl.h
  include/oneapi/tbb/detail/_flow_graph_cache_impl.h
  include/oneapi/tbb/detail/_flow_graph_impl.h
  include/oneapi/tbb/detail/_flow_graph_indexer_impl.h
  include/oneapi/tbb/detail/_flow_graph_item_buffer_impl.h
  include/oneapi/tbb/detail/_flow_graph_join_impl.h
  include/oneapi/tbb/detail/_flow_graph_node_impl.h
  include/oneapi/tbb/flow_graph.h
  test/common/graph_utils.h
  test/tbb/test_broadcast_node.cpp
  test/tbb/test_function_node.cpp
  test/tbb/test_input_node.cpp
  test/tbb/test_limiter_node.cpp
Labels: enhancement

#1413 [try_put_and_wait] Part 3: Add implementation of try_put_and_wait feature for broadcast nodes
  include/oneapi/tbb/flow_graph.h
  test/tbb/test_broadcast_node.cpp
Labels: enhancement

#1419 [try_put_and_wait] Part 4: Add implementation of try_put_and_wait API for split_node
  include/oneapi/tbb/detail/_flow_graph_node_impl.h
  include/oneapi/tbb/flow_graph.h
  test/tbb/test_split_node.cpp
Labels: enhancement

#1420 [try_put_and_wait] Part 5: Add try_put_and_wait API for indexer_node
  include/oneapi/tbb/detail/_flow_graph_indexer_impl.h
  test/tbb/test_indexer_node.cpp
Labels: enhancement

#1412 [try_put_and_wait] Part 2: Add implementation of try_put_and_wait feature for buffering nodes
  include/oneapi/tbb/detail/_flow_graph_cache_impl.h
  include/oneapi/tbb/detail/_flow_graph_impl.h
  include/oneapi/tbb/detail/_flow_graph_item_buffer_impl.h
  include/oneapi/tbb/detail/_flow_graph_join_impl.h
  include/oneapi/tbb/detail/_flow_graph_node_impl.h
  include/oneapi/tbb/flow_graph.h
  test/common/graph_utils.h
  test/tbb/test_buffer_node.cpp
  test/tbb/test_buffering_try_put_and_wait.h
  test/tbb/test_function_node.cpp
  test/tbb/test_priority_queue_node.cpp
  test/tbb/test_queue_node.cpp
  test/tbb/test_sequencer_node.cpp
Labels: enhancement

#1425 [try_put_and_wait] Part 6: Add implementation for limiter_node + reservation support for buffers
  include/oneapi/tbb/detail/_flow_graph_body_impl.h
  include/oneapi/tbb/detail/_flow_graph_cache_impl.h
  include/oneapi/tbb/detail/_flow_graph_item_buffer_impl.h
  include/oneapi/tbb/flow_graph.h
  test/tbb/test_buffer_node.cpp
  test/tbb/test_buffering_try_put_and_wait.h
  test/tbb/test_limiter_node.cpp
  test/tbb/test_priority_queue_node.cpp
  test/tbb/test_queue_node.cpp
  test/tbb/test_sequencer_node.cpp
Labels: enhancement

#1480 Fix documentation build in CI
  doc/conf.py
Labels: infrastructure

#1478 Fix tbb malloc proxy on 14.30.33807
  src/tbbmalloc_proxy/proxy.cpp
Labels: allocator

#1429 [try_put_and_wait] Part 7: implementation of try_put_and_wait for queueing and reserving join_nodes
  include/oneapi/tbb/detail/_flow_graph_join_impl.h
  include/oneapi/tbb/flow_graph.h
  test/tbb/test_join_node_preview.cpp
Labels: enhancement

#1432 [try_put_and_wait] Part 8: Add implementation for key_matching join_node
  include/oneapi/tbb/detail/_flow_graph_join_impl.h
  include/oneapi/tbb/detail/_flow_graph_tagged_buffer_impl.h
  include/oneapi/tbb/detail/_flow_graph_types_impl.h
  test/tbb/test_join_node_preview.cpp
Labels: enhancement

#1483 Parse TBB_INTERFACE_VERSION to get minor binary version
  CMakeLists.txt
Labels: bug fix, infrastructure

#1486 Remove std::aligned_storage from unordered containers
  include/oneapi/tbb/concurrent_unordered_map.h
  include/oneapi/tbb/concurrent_unordered_set.h
  include/oneapi/tbb/detail/_concurrent_unordered_base.h
Labels: bug fix

#1489 Add link flags for static linking with ICX
  cmake/compilers/IntelLLVM.cmake
Labels: bug fix

#1488 fix coverity issue in tbbmalloc HugePagesStatus
  src/tbbmalloc/tbbmalloc_internal.h
Labels: allocator

#1496 Check clean-up of per-thread vertex map
  test/tbb/test_task.cpp
Labels: tests
