Repository uxlfoundation/oneTBB, pull requests merged in 2024-07, with the labels that each got.

#1439 Fix Specs links
  doc/conf.py
  doc/main/reference/custom_mutex_chmap.rst
  doc/main/reference/parallel_for_each_semantics.rst
  doc/main/reference/parallel_sort_ranges_extension.rst
  doc/main/reference/reference.rst
  doc/main/reference/rvalue_reduce.rst
  doc/main/reference/task_group_extensions.rst
  doc/main/reference/type_specified_message_keys.rst
  doc/main/tbb_userguide/Constraints.rst
  doc/main/tbb_userguide/How_Task_Scheduler_Works.rst
  doc/main/tbb_userguide/Migration_Guide/Task_Scheduler_Init.rst
Labels: documentation

#1345 Reworked wait_contex approach + scalability improvement in task_group
  include/oneapi/tbb/collaborative_call_once.h
  include/oneapi/tbb/detail/_task.h
  include/oneapi/tbb/detail/_task_handle.h
  include/oneapi/tbb/task_group.h
  src/tbb/def/lin32-tbb.def
  src/tbb/def/lin64-tbb.def
  src/tbb/def/mac64-tbb.def
  src/tbb/def/win32-tbb.def
  src/tbb/def/win64-tbb.def
  src/tbb/scheduler_common.h
  src/tbb/task.cpp
  src/tbb/threading_control.cpp
Labels: enhancement

#1405 throw() -> noexcept
  include/oneapi/tbb/memory_pool.h
  src/tbbmalloc_proxy/proxy.cpp
  test/common/exception_handling.h
  test/conformance/conformance_concurrent_hash_map.cpp
  test/conformance/conformance_concurrent_queue.cpp
  test/tbb/test_task_group.cpp
Labels: allocator

#1442 Add OSSF scorecard workflow
  .github/workflows/ossf-scorecard.yml
Labels: infrastructure

#1443 Add CodeQL scan workflow
  .github/workflows/codeql.yml
Labels: infrastructure

#1457 Restrict HWLOC's interference with Windows process affninity
  src/tbbbind/tbb_bind.cpp
Labels: bug fix

#1445 Improve parallel_for_each scalability
  include/oneapi/tbb/parallel_for_each.h
Labels: enhancement
