Repository uxlfoundation/oneTBB, pull requests merged in 2024-05, with the labels that each got.

#1373 Ensure test_partitioner reliability by waiting between repeats for threads to leave
  test/tbb/test_partitioner.cpp
Labels: tests

#1347 Detect binutils version to disable waitpkg/tpause intrinsic if GNU assembler is too old.
  cmake/compilers/GNU.cmake
  include/oneapi/tbb/detail/_config.h
Labels: infrastructure

#1380 Add a comment explaining why initialize_allocate_handler() is not called in the current library implementation
  src/tbb/allocator.cpp
Labels: documentation

#1358 Add Code of Conduct
  CODE_OF_CONDUCT.md
Labels: documentation

#1385 [Doc] Add documentation for rvalue reduction
  doc/main/reference/reference.rst
  doc/main/reference/rvalue_reduce.rst
Labels: documentation
