Repository uxlfoundation/oneTBB, pull requests merged in 2025-03, with the labels that each got.

#1631 Link tbbbind against static HWLOC instead of HWLOC 1.11
  cmake/README.md
  cmake/hwloc_detection.cmake
  src/tbb/governor.cpp
  src/tbbbind/CMakeLists.txt
  src/tbbbind/def/lin32-tbbbind.def
  src/tbbbind/def/lin64-tbbbind.def
  test/CMakeLists.txt
  test/conformance/conformance_arena_constraints.cpp
Labels: enhancement, tests, infrastructure

#1663 Add info about conflict between Release and Debug TBB to Known Limitations
  doc/main/intro/limitations.rst
Labels: documentation

#1661 Update test matrix, etc.
  .github/scripts/codespell.sh
  .github/workflows/ci.yml
  doc/main/tbb_userguide/Working_on_the_Assembly_Line_pipeline.rst
  examples/graph/fgbzip2/bzlib.cpp
  examples/parallel_for/tachyon/src/pthread.cpp
  integration/cmake/generate_vars.cmake
  rfcs/experimental/parallel_phase_for_task_arena/README.md
  rfcs/proposed/numa_support/tbbbind-link-static-hwloc.org
  test/tbb/test_concurrent_set.cpp
  test/tbb/test_split_node.cpp
  test/tbb/test_task_group.cpp
  test/tbbmalloc/test_malloc_whitebox.cpp
Labels: infrastructure, allocator

#1666 Add info about TBBBind and custom allocators to known limitations
  doc/main/intro/limitations.rst
Labels: documentation

#1646 Add documentation for parallel_phase feature
  doc/main/reference/examples/parallel_phase_example.cpp
  doc/main/reference/parallel_phase_for_task_arena.rst
  doc/main/reference/reference.rst
Labels: documentation

#1641 Add documentation for blocked_nd_range CTAD
  doc/main/reference/blocked_nd_range_ctad.rst
  doc/main/reference/examples/blocked_nd_range_ctad_example.cpp
  doc/main/reference/reference.rst
Labels: documentation

#1675 Replace ubuntu version in Doc job
  .github/workflows/ci.yml
Labels: infrastructure

#1594 Allow loading dependencies by name
  CMakeLists.txt
  INSTALL.md
  cmake/README.md
  src/tbb/CMakeLists.txt
  src/tbb/dynamic_link.cpp
  src/tbb/dynamic_link.h
  src/tbb/tcm_adaptor.cpp
Labels: enhancement

#1678 examples: build targets for benchmarking
  examples/README.md
  examples/common/cmake/common.cmake
  examples/parallel_for/tachyon/CMakeLists.txt
  examples/parallel_for/tachyon/README.md
  examples/parallel_for/tachyon/benchmark_tachyon_data.awk
  examples/parallel_reduce/primes/CMakeLists.txt
  examples/parallel_reduce/primes/README.md
  examples/parallel_reduce/primes/benchmark_primes_data.awk
  examples/task_group/sudoku/CMakeLists.txt
  examples/task_group/sudoku/README.md
  examples/task_group/sudoku/benchmark_sudoku_data.awk
Labels: enhancement, documentation, infrastructure

#1677 [rfc] Resource-limited Nodes
  rfcs/proposed/flow_graph_serializers/README.md
  rfcs/proposed/flow_graph_serializers/README.qmd
  rfcs/proposed/flow_graph_serializers/README_files/figure-commonmark/fig-delay-distribution-1.png
  rfcs/proposed/flow_graph_serializers/README_files/figure-commonmark/fig-program-start-1.png
  rfcs/proposed/flow_graph_serializers/README_files/figure-commonmark/fig-program-start-after-first-1.png
  rfcs/proposed/flow_graph_serializers/README_files/figure-commonmark/fig-program-wind-down-1.png
  rfcs/proposed/flow_graph_serializers/README_files/figure-commonmark/fig-source-durations-1.png
  rfcs/proposed/flow_graph_serializers/README_files/figure-commonmark/fig-source-time-structure-by-message-1.png
  rfcs/proposed/flow_graph_serializers/README_files/figure-commonmark/fig-source-time-structure-by-start-1.png
  rfcs/proposed/flow_graph_serializers/README_files/figure-commonmark/fig-thread-busy-1.png
  rfcs/proposed/flow_graph_serializers/analyzed-graph-with-limiters.gv
  rfcs/proposed/flow_graph_serializers/analyzed-graph-with-limiters.png
  rfcs/proposed/flow_graph_serializers/custom.scss
  rfcs/proposed/flow_graph_serializers/function-serialization.png
  rfcs/proposed/flow_graph_serializers/functions.R
  rfcs/proposed/flow_graph_serializers/serial_fanout.tsv
Labels: RFC

#1674 Update RELEASE_NOTES.md and System Requirements for oneTBB 2022.1
  RELEASE_NOTES.md
  SYSTEM_REQUIREMENTS.md
Labels: documentation
