Repository uxlfoundation/oneTBB, pull requests merged in 2025-05, with the labels that each got.

#1723 Reduce execution time of test_parallel_phase
  test/tbb/test_parallel_phase.cpp
Labels: tests

#1725 Fix deprecation warning about <ciso646> header
  test/common/doctest.h
Labels: tests

#1648 Added RFC for Flow Graph Helper Functions
  rfcs/experimental/flow_graph_node_sets/README.md
  rfcs/experimental/flow_graph_node_sets/graph_with_many_edges.png
  rfcs/experimental/flow_graph_node_sets/make_edges.png
Labels: RFC

#1704 RFC for experimental support for type-specified message keys for join_node
  rfcs/experimental/flow_graph_msg_keys/JoinGraph.png
  rfcs/experimental/flow_graph_msg_keys/README.md
Labels: RFC

#1731 Prevent copying of scoped_parallel_phase
  include/oneapi/tbb/task_arena.h
Labels: bug fix

#1702 Extend documentation wrt mixing with other threading packages
  doc/GSG/next_steps.rst
  doc/main/examples_testing/CMakeLists.txt
  doc/main/tbb_userguide/appendix_B.rst
  doc/main/tbb_userguide/examples/tbb_mixing_other_runtimes_example.cpp
Labels: documentation
