Repository uxlfoundation/oneTBB, pull requests merged in 2025-08, with the labels that each got.

#1795 Enable multiple core type constraints and identify additional core type
  include/oneapi/tbb/detail/_config.h
  include/oneapi/tbb/info.h
  include/oneapi/tbb/version.h
  src/tbb/governor.cpp
  src/tbb/tbb.rc
  src/tbbbind/tbb_bind.cpp
  src/tbbbind/tbb_bind.rc
  src/tbbmalloc/tbbmalloc.rc
  src/tbbmalloc_proxy/tbbmalloc_proxy.rc
  test/common/common_arena_constraints.h
Labels: new feature

#1804 Correct names in the new samples README
  examples/sycl/README.md
  examples/sycl/tbb-async-sycl/README.md
  examples/sycl/tbb-resumable-tasks-sycl/README.md
  examples/sycl/tbb-task-sycl/README.md
Labels: documentation

#1809 Enable multiple core type constraints and identify additional core type
  include/oneapi/tbb/info.h
  include/oneapi/tbb/version.h
  src/tbb/governor.cpp
  src/tbb/tbb.rc
  src/tbbbind/tbb_bind.cpp
  src/tbbbind/tbb_bind.rc
  src/tbbmalloc/tbbmalloc.rc
  src/tbbmalloc_proxy/tbbmalloc_proxy.rc
  test/common/common_arena_constraints.h
Labels: enhancement, allocator

#1785 Fix lifetime issue with reference_vertex
  include/oneapi/tbb/detail/_flow_graph_impl.h
  include/oneapi/tbb/detail/_task.h
  src/tbb/scheduler_common.h
  src/tbb/task.cpp
  test/tbb/test_task_arena.cpp
  test/tbb/test_task_group.cpp
Labels: bug fix, tests

#1743 Add implementation details information for task group dynamic dependencies
  rfcs/proposed/task_group_dynamic_dependencies/assets/impl_lifetime_issue.png
  rfcs/proposed/task_group_dynamic_dependencies/assets/impl_new_class_layout.png
  rfcs/proposed/task_group_dynamic_dependencies/assets/impl_predecessor_successor.png
  rfcs/proposed/task_group_dynamic_dependencies/assets/impl_prev_class_layout.png
  rfcs/proposed/task_group_dynamic_dependencies/assets/impl_sequence_diagram.png
  rfcs/proposed/task_group_dynamic_dependencies/assets/impl_sequence_diagram_transfer.png
  rfcs/proposed/task_group_dynamic_dependencies/assets/state_diagram_ordering.png
  rfcs/proposed/task_group_dynamic_dependencies/assets/state_diagram_transfer1.png
  rfcs/proposed/task_group_dynamic_dependencies/assets/state_diagram_transfer2.png
  rfcs/proposed/task_group_dynamic_dependencies/extended_semantics.md
  rfcs/proposed/task_group_dynamic_dependencies/implementation_details.md
Labels: RFC

#1808 Custom assertion handler
  rfcs/proposed/assertion_handler/README.md
Labels: RFC
