Repository uxlfoundation/oneTBB, pull requests merged in 2025-01, with the labels that each got.

#1524 Enable CTAD for blocked_rangeNd since C++17
  include/oneapi/tbb/blocked_nd_range.h
  include/oneapi/tbb/blocked_range.h
Labels: enhancement, new feature

#1596 Fix the allocator for Flow Graph critical tasks creating
  include/oneapi/tbb/detail/_flow_graph_impl.h
  src/tbb/small_object_pool.cpp
  test/tbb/test_function_node.cpp
Labels: bug fix

#1610 Ignore TBB_FILE_TRIM option for Intel compiler
  cmake/compilers/MSVC.cmake
Labels: infrastructure

#1545 Add sub-RFC for increased availability of NUMA API
  rfcs/proposed/numa_support/tbbbind-link-static-hwloc.org
Labels: documentation, RFC

#1535 [RFC] Added numa_support rfc
  rfcs/proposed/numa_support/README.md
  rfcs/proposed/numa_support/tbbbind-link-static-hwloc.org
Labels: documentation, RFC

#1570 Add reference implementation for parallel_phase feature
  include/oneapi/tbb/detail/_config.h
  include/oneapi/tbb/task_arena.h
  rfcs/experimental/parallel_phase_for_task_arena/README.md
  rfcs/experimental/parallel_phase_for_task_arena/alternative_proposal.png
  rfcs/experimental/parallel_phase_for_task_arena/completely_disable_new_behavior.png
  rfcs/experimental/parallel_phase_for_task_arena/parallel_phase_introduction.png
  rfcs/experimental/parallel_phase_for_task_arena/parallel_phase_sequence_diagram.png
  rfcs/experimental/parallel_phase_for_task_arena/parallel_phase_state_final.png
  rfcs/experimental/parallel_phase_for_task_arena/parallel_phase_state_initial.png
  src/tbb/arena.cpp
  src/tbb/arena.h
  src/tbb/def/lin32-tbb.def
  src/tbb/def/lin64-tbb.def
  src/tbb/def/mac64-tbb.def
  src/tbb/def/win32-tbb.def
  src/tbb/def/win64-tbb.def
  src/tbb/waiters.h
  test/CMakeLists.txt
  test/common/config.h
  test/tbb/test_parallel_phase.cpp
Labels: enhancement, tests

#1607 Add RFC for CTAD in blocked_nd_range
  rfcs/experimental/blocked_nd_range_ctad/README.md
Labels: enhancement, RFC

#1525 Add explicit deduction guides for blocked_nd_range
  include/oneapi/tbb/blocked_nd_range.h
  include/oneapi/tbb/detail/_config.h
  test/common/config.h
  test/tbb/test_blocked_range.cpp
Labels: enhancement, new feature, tests

#1615 Fix UBSan issue
  include/oneapi/tbb/concurrent_hash_map.h
Labels: bug fix

#1620 Ignore TBB_FILE_TRIM option for Clang compiler on Windows
  cmake/compilers/MSVC.cmake
Labels: infrastructure

#1622 Update build instructions for WASM
  WASM_Support.md
Labels: documentation

#1623 Stabilize test_parallel_phase
  test/tbb/test_parallel_phase.cpp
Labels: bug fix, tests

#1624 Ignore system-wide installed HWLOC for test/conformance_arena_constraints
  test/CMakeLists.txt
Labels: tests
