Repository uxlfoundation/oneTBB, pull requests merged in 2025-02, with the labels that each got.

#1630 Suppress Intel Compiler debug iterator vectorization warning in test_openmp.cpp
  test/CMakeLists.txt
Labels: infrastructure

#1637 Apply comments & changes to the task group dependencies RFC
  rfcs/proposed/task_group_dynamic_dependencies/README.md
Labels: RFC

#1612 Updated RFCs process description to align with oneDPL
  rfcs/README.md
Labels: RFC

#1647 Restructure documentation for correct doc build
  doc/GSG/get_started.rst
  doc/GSG/intro_gsg.rst
Labels: documentation

#1660 Doc syntax fixes
  .github/workflows/ci.yml
  doc/GSG/next_steps.rst
  doc/conf.py
  doc/index/toctree.rst
  doc/main/intro/limitations.rst
  doc/main/tbb_userguide/Controlling_Chunking_os.rst
  doc/main/tbb_userguide/Dependence_Graph.rst
  doc/main/tbb_userguide/Edges.rst
  doc/main/tbb_userguide/Guiding_Task_Scheduler_Execution.rst
  doc/main/tbb_userguide/Lambda_Expressions.rst
  doc/main/tbb_userguide/Nodes.rst
  doc/main/tbb_userguide/Parallelizing_Complex_Loops.rst
  doc/main/tbb_userguide/Parallelizing_Simple_Loops_os.rst
  doc/main/tbb_userguide/Predefined_Node_Types.rst
  doc/main/tbb_userguide/always_use_wait_for_all.rst
  doc/main/tbb_userguide/broadcast_or_send.rst
  doc/main/tbb_userguide/cancel_a_graph.rst
  doc/main/tbb_userguide/cancelling_nested_parallelism.rst
  doc/main/tbb_userguide/communicate_with_nodes.rst
  doc/main/tbb_userguide/create_token_based_system.rst
  doc/main/tbb_userguide/destroy_graphs_outside_main_thread.rst
  doc/main/tbb_userguide/use_graph_reset.rst
  doc/main/tbb_userguide/use_input_node.rst
  doc/main/tbb_userguide/use_make_edge.rst
Labels: documentation

#1469 [RFC] task_group_dynamic_dependencies
  rfcs/archived/README.md
  rfcs/proposed/task_group_dynamic_dependencies/README.md
  rfcs/proposed/task_group_dynamic_dependencies/add_dependency.png
  rfcs/proposed/task_group_dynamic_dependencies/merge_sort.png
  rfcs/proposed/task_group_dynamic_dependencies/three_task_graph.png
  rfcs/proposed/task_group_dynamic_dependencies/unknown_states.png
Labels: RFC
