Repository uxlfoundation/oneTBB, pull requests merged in 2025-09, with the labels that each got.

#1843 Support assertion handler testing when tests compiled with -fno-exceptions
  test/common/utils_assert.h
Labels: bug fix, tests

#1847 Do not load TBBbind, only use already loaded
  test/tbb/test_tbbbind.cpp
Labels: tests

#1846 add assert to suppress coverity issue
  src/tbbmalloc/backend.cpp
Labels: allocator

#1854 Suppress warning C4611 in MSVC
  test/common/utils_assert.h
Labels: bug fix, tests

#1855 Remove outdated extensions from the reference
  doc/main/reference/examples/parallel_sort_ranges_extension_example.cpp
  doc/main/reference/parallel_for_each_semantics.rst
  doc/main/reference/parallel_sort_ranges_extension.rst
  doc/main/reference/reference.rst
Labels: documentation
