Repository uxlfoundation/oneTBB, pull requests merged in 2025-04, with the labels that each got.

#1691 Correct Intel compiler version check in CMakeLists
  test/CMakeLists.txt
Labels: tests

#1693 Correct Intel compiler version check in test_allocators.cpp
  test/tbb/test_allocators.cpp
Labels: tests

#1692 Add copyright headers to new benchmarking scripts
  examples/parallel_for/tachyon/benchmark_tachyon_data.awk
  examples/parallel_reduce/primes/benchmark_primes_data.awk
  examples/task_group/sudoku/benchmark_sudoku_data.awk
Labels: bug fix

#1642 Fix uninitialized variables in copy_counting_object
  test/conformance/conformance_flowgraph.h
Labels: bug fix

#1679 [RFC] API to simplify creation of task arenas constrained to NUMA nodes
  rfcs/proposed/numa_support/README.md
  rfcs/proposed/numa_support/create-numa-arenas.md
Labels: RFC

#1676 Improve documentation
  doc/GSG/system_requirements.rst
  doc/main/intro/help_support.rst
  doc/main/intro/testing_approach.rst
  doc/main/tbb_userguide/Linux_OS.rst
  doc/main/tbb_userguide/Mac_OS.rst
  doc/main/tbb_userguide/Package_Contents_os.rst
  doc/main/tbb_userguide/Scalable_Memory_Allocator.rst
  doc/main/tbb_userguide/Windows_OS_ug.rst
Labels: documentation

#1705 Make link options portable across compilers on Windows
  cmake/compilers/MSVC.cmake
Labels: infrastructure

#1710 Replace CPATH with C_INCLUDE_PATH and CPLUS_INCLUDE_PATH
  doc/main/tbb_userguide/Linux_OS.rst
  doc/main/tbb_userguide/Mac_OS.rst
  examples/common/cmake/modules/FindTBB.cmake
  integration/linux/env/vars.sh
  integration/linux/env/vars.sh.in
  integration/linux/modulefiles/tbb
  integration/linux/modulefiles/tbb32
  integration/mac/env/vars.sh
  integration/mac/env/vars.sh.in
  integration/windows/env/vars.bat
  integration/windows/env/vars.bat.in
Labels: documentation

#1650 Fix address sanitizer failures in tbb malloc
  test/tbbmalloc/test_malloc_lib_unload.cpp
  test/tbbmalloc/test_malloc_used_by_lib.cpp
Labels: allocator

#1719 Update compiler and linker options
  cmake/compilers/Clang.cmake
  cmake/compilers/MSVC.cmake
Labels: infrastructure
